@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(320.67deg, #2f2e41 0%, #3f3d56 100%);
  color: #ffffff;
  overflow-x: hidden;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1.5rem;
}

.btn {
  background: #6c63ff;
  padding: 9px 1.5rem;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-weight: normal;
  font-size: 28px;
}

.hero p {
  font-size: 14px;
}

.hero input {
  padding: 9px;
  border: 1px solid rgba(255, 255, 255, 0.204427);
  border-radius: 5px;
  background: none;
  color: #ffffff;
}

.hero .illustration {
  max-width: 400px;
}

.panel {
  width: 100%;
  background: #2d2b40;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border-radius: 10px;
  gap: 2rem;
  padding: 24px;
  margin: 0px -20px;
}

.panel .section {
  text-align: center;
  max-width: 210px;
  margin: 0 auto;
}

.panel .header {
  font-weight: bold;
}

@media (max-width: 750px) {
  .hero .illustration {
    max-width: 200px;
  }
}

@media (max-width: 540px) {
  .hero button {
    margin-top: 0.5rem;
    width: 222px;
  }
  .nav {
    justify-content: flex-start !important;
  }
  a {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  body {
    margin-bottom: 0px;
  }
  .container {
    width: 100%;
  }
  .nav {
    justify-content: center;
  }
  .panel {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .hero .illustration {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }
  .content {
    text-align: center;
  }
}
