@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #1d2545;
  margin: 0;
}

.container {
  background: #242e4c;
  border-radius: 15px;
  padding: 2rem 4rem 4rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  color: rgb(189, 189, 189);
}

.head {
  width: 120px;
  margin-bottom: 2rem;
}

.head img {
  width: 100%;
}

.search {
  border: 1px solid #1d2545;
  border-radius: 5px;
  color: #546484;
  padding: 0rem 0.7rem;
  margin-bottom: 2rem;
}

.search input {
  border: none;
  background: none;
  color: #546484;
  padding: 0.7rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  height: min-content;
}

button {
  background: none;
  border: 1px solid #1d2545;
  border-radius: 5px;
  color: #546484;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

span {
  background: #f775c1;
  font-size: small;
}

.not {
  position: relative;
  background: #f775c1;
  font-size: 12px;
  color: #ffffff;
  align-items: center;
  padding: 1px 8px;
  padding-bottom: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  bottom: 20px;
}

td span {
  background: none;
  display: inline;
  position: relative;
}

table {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

table tr:first-child td {
  font-weight: bold;
  padding: 0.3rem 2rem;
}

table tr:first-child td:first-child {
  width: 4px;
  padding: 0;
}

.space {
  height: 5px;
}

table tr + tr td:not(:first-child) {
  background: #1d2545;
  padding: 0.6rem 2rem;
  border: none;
  transition: all ease-in-out 0.4s;
}

table tr + tr td:last-child {
  padding: 10px;
  text-align: center;
}

table tr + tr td:last-child div {
  width: 25px;
  opacity: 0;
  padding: 7px;
  background: #242e4c;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
}

table tr + tr:hover td:not(:first-child) {
  background: #161f3b;
  opacity: 1;
  cursor: pointer;
}

table tr + tr:hover td:last-child div {
  opacity: 0.5;
}

tr:hover td div {
  background: #161f3b;
  opacity: 1;
  cursor: pointer;
}

table tr + tr td:first-child {
  max-width: 0px;
  padding: 0 !important;
}

table .oronge-border {
  border-radius: 4px 0px 0px 4px;
  background: #f4b17b;
  padding: 0rem;
}

table .green-border {
  border-radius: 4px 0px 0px 4px;
  background: #84cca4;
}

table .blue-border {
  border-radius: 4px 0px 0px 4px;
  background: #648bcc;
}

table td span {
  font-size: 1rem;
  padding-right: 0.2rem;
  font-weight: 900;
}

.blue {
  color: #648bcc;
}
.oronge {
  color: #f4b17b;
}
.green {
  color: #84cca4;
}

.plus {
  background: #f775c1;
  border-radius: 50%;
  padding: 0.7rem;
  box-shadow: 0px 1px 20px rgba(247, 117, 193, 0.15);
  cursor: pointer;
}

.plus-container {
  justify-content: flex-end;
  color: #ffffff;
}

/* #161f3b */
