@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

html {
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #f4efe5;
}

.container {
  max-width: 900px;
  /* height: 684px; */
  overflow: auto;
  padding: 4rem;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 7px 104px rgba(227, 206, 173, 0.74);
}

.flex {
  display: flex;
  justify-content: center;
}

nav {
  margin: 2rem;
}

nav,
.btncontainer {
  width: 100%;
}

.btn {
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background: #eb6649;
  box-shadow: 0px 4px 10px rgba(235, 102, 73, 0.25);
  transition: all ease-in-out 0.4s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

nav a {
  text-decoration: none;
  color: #747069;
  padding: 7px 22px;
}

nav .selected {
  color: #000;
  background: #fef8eb;
  border-radius: 6px;
}

/* all the carousel */
.carousel {
  align-items: center;
}

.cards {
  max-width: 600px;
  overflow: hidden;
  margin: 0.5rem 2rem;
  transition: all ease-in-out 0.4s;
}

.card {
  /* width: 270px; */
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  margin: 1rem;
  /* transform: translateX(-290px); */
  text-align: center;
  transition: all ease-in-out 0.4s;
}

.fa-chevron-right,
.fa-chevron-left {
  color: #747069;
  transition: opacity ease-in-out 0.4s;
}

.fa-3x:hover {
  cursor: pointer;
  opacity: 0.5;
}

.dicription {
  padding: 2rem 1.3rem;
}

p {
  color: #747069;
}

h2,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
  padding-bottom: 5px;
}
